<main>
  <form method="post" action="/user/auth">
    <p><b>log in</b></p>
    <p><input type= "text" name="name"></p>
    <p><input type= "email" name="email"></p>
    <p><input type= "password" name="password"></p>
    <p><input type= "submit" value="log in"></p>
  </form>
</main>