<main>
  <form method="post" action="/user/auth">
    <p><b>ログイン</b></p>
    <p>名前</p>
    <p><input type= "text" name="name"></p>
    <p>メールアドレス</p>
    <p><input type= "email" name="email"></p>
    <p>パスワード</p>
    <p><input type= "password" name="password"></p>
    <p><input type= "submit" value="ログイン"></p>
  </form>
</main>