<main>
  <form method="post" action="/user/create">
    <p><b>新規登録</b></p>
    <p>名前</p>
    <p><input type= "text" name="name"></p>
    <p>メールアドレス</p>
    <p><input type= "email" name="email"></p>
    <p>パスワード</p>
    <p><input type= "password" name="password"></p>
    <p><input type= "submit" value="サインイン"></p>
  </form>
</main>
<style>
.error-message {
 color: red;
 font-size: 14px;
}
</style>