<main>
  <div class="container">
    <h1>みんなの名言集</h1>
    <p class="cont-item">
      お気に入りの名言をみんなとわかち合おう！
    </p>
    <a href="/meigen" class="button">一覧</a>
  </div>
</main>

<style>
.container {
  text-align: center;
  margin: 280px 0 0 0;
}
.cont-item {
  margin: 10px 0 20px 0;
  font-size: 18px;
}
a {
  text-decoration: none;
}
.button {
  font-size: 25px;
  background-color: #0bd;
  color: white;
  border-radius: 5px;
  padding: 16px 28px;
  opacity: 0.8;
}
.button:hover {
  opacity: 1;
}
</style>